.c-admin {
    /* assets/css/bread/admin.less */
    top: 0;
    position: fixed;
    right: 0;
    overflow-y: hidden;
    margin: 0;

    *:focus {
        /* assets/css/bread/admin.less */
        outline: none !important;
        box-shadow: none !important;
    }

    .el-drawer {
        /* assets/css/bread/admin.less */
        .size(100%);
        overflow-y: auto;
    }
    .el-drawer__header{
        /* assets/css/bread/admin.less */
        .mb(10px);
    }
    .el-drawer__body{
        /* assets/css/bread/admin.less */
        padding:0 20px;
    }
}

.c-admin-mark {
    /* assets/css/bread/admin.less */
    .el-radio {
        /* assets/css/bread/admin.less */
        .mb(10px);
    }
}

.c-admin-wrapper {
    /* assets/css/bread/admin.less */
    box-sizing: border-box;

    .u-refresh-btn {
        /* assets/css/bread/admin.less */
        margin-left: 10px;;
    }
    .m-status-op {
        .flex;
        align-items: center;
    }
}

.c-admin-highlight-checkbox {
    /* assets/css/bread/admin.less */
    .mr(10px) !important;
}
.c-admin-highlight-block {
    /* assets/css/bread/admin.less */
    .y;
}
.c-admin-highlight-preview {
    /* assets/css/bread/admin.less */
    .fz(14px);
    .bold;
    .ml(10px);
}

.c-admin-banner {
    /* assets/css/bread/admin.less */
    .u-banner {
        /* assets/css/bread/admin.less */
        .mt(10px);
    }
    .u-btn {
        /* assets/css/bread/admin.less */
        .pointer;
    }
}
.c-admin-upload {
    /* assets/css/bread/admin.less */
    .w(100%) !important;
    .x;

    .el-upload {
        /* assets/css/bread/admin.less */
        .size(100%);
        box-sizing: border-box;
    }
    overflow: hidden;

    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    line-height: 146px;
    vertical-align: top;

    &:hover {
        /* assets/css/bread/admin.less */
        border-color: #409eff;
    }
}

.c-admin-info {
    /* assets/css/bread/admin.less */
    display: flex;
}

.w-select {
    /* assets/css/bread/admin.less */
    position: relative;
    .flex;
    align-items: center;
    .u-select-label {
        /* assets/css/bread/admin.less */
        background-color: #f5f7fa;
        color: #909399;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        padding: 0 20px;
        white-space: nowrap;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 1px 0 0 0 #dcdfe6 inset, 0 1px 0 0 #dcdfe6 inset, 0 -1px 0 0 #dcdfe6 inset;
        font-size: 14px;
        box-sizing: border-box;
    }
    .el-select {
        /* assets/css/bread/admin.less */
        .el-select__wrapper {
            /* assets/css/bread/admin.less */
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: 0 1px 0 0 #dcdfe6 inset, 0 -1px 0 0 #dcdfe6 inset, 0 0 0 1px #dcdfe6 inset;
        }
    }
}

.c-admin-type {
    /* assets/css/bread/admin.less */
    .w(50%);
    min-width: 200px;
    .mr(10px);
    .u-select-label {
        /* assets/css/bread/admin.less */
        height: 32px;
        line-height: 32px;
    }
}
.c-admin-author {
    /* assets/css/bread/admin.less */
    /* /Users/lijiawei/Desktop/jx3box/jx3box-ui/assets/css/bread/admin.less */
    .w(50%);
    flex: 1;
}

.c-admin-buttons {
    /* assets/css/bread/admin.less */
    /* /Users/lijiawei/Desktop/jx3box/jx3box-ui/assets/css/bread/admin.less */
    .mt(20px);
    .x;
}

@media screen and (max-width: @ipad) {
    /* assets/css/bread/admin.less */
    .c-admin {
        /* assets/css/bread/admin.less */
        /* /Users/lijiawei/Desktop/jx3box/jx3box-ui/assets/css/bread/admin.less */
        .el-drawer {
            /* assets/css/bread/admin.less */
            .w(100%) !important;
        }
    }
}
