.c-breadcrumb {
    /* assets/css/bread/breadcrumb.less */
    .pf;
    top: @header-height;
    .z(499);
    .w(100%);
    .h(@bread-height);
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    .lh(28px);
    border-bottom: 1px solid @border-hr;
    transition: 0.5s ease-in-out;

    .u-channel {
        /* assets/css/bread/breadcrumb.less */
        .fl;
        span {
            /* assets/css/bread/breadcrumb.less */
            .bold;
            color: @color;
        }
        .mr(22px);
        // padding:10px;
    }
    .u-channel-logo {
        /* assets/css/bread/breadcrumb.less */
        .fl;
        .size(28px);
        .mr(10px);
        box-sizing: border-box;
        svg {
            /* assets/css/bread/breadcrumb.less */
            .size(100%);
            fill: @bg-black;
            box-sizing: border-box;
        }
    }

    .u-channel:hover {
        /* assets/css/bread/breadcrumb.less */
        .u-title {
            /* assets/css/bread/breadcrumb.less */
            color: var(--el-color-primary);
        }
        .u-channel-logo svg {
            /* assets/css/bread/breadcrumb.less */
            fill: var(--el-color-primary);
        }
    }

    .c-crumb {
        /* assets/css/bread/breadcrumb.less */
        .fl;
        .mr(20px);
    }

    .el-tabs {
        /* assets/css/bread/breadcrumb.less */
        position: absolute;
        left: 140px;
        top: 0;
        right: 220px;
        bottom: 0;

        .el-tabs__header {
            /* assets/css/bread/breadcrumb.less */
            margin: 0;
        }

        .el-tabs__item {
            /* assets/css/bread/breadcrumb.less */
            .h(48px);
            .lh(48px);
        }

        .el-tabs__nav-wrap::after {
            /* assets/css/bread/breadcrumb.less */
            .none;
        }
    }

    .u-publish,
    .u-admin,
    .u-feedback {
        /* assets/css/bread/breadcrumb.less */
        .fr;
        // .pa;.rt(8px,8px);
        padding: 8px 18px;
        margin-top: -2px;
    }

    .u-admin,
    .u-feedback {
        /* assets/css/bread/breadcrumb.less */
        .mr(10px);
        .ml(0);
    }

    .u-menu {
        /* assets/css/bread/breadcrumb.less */
        .pa;
        .lt(0);
        .h(28px);
        padding: 10px;
        .none;
        .pointer;

        svg {
            /* assets/css/bread/breadcrumb.less */
            .h(29px);
            fill: @color;
        }

        .on {
            /* assets/css/bread/breadcrumb.less */
            fill: @primary;
        }
    }

    .u-op {
        /* assets/css/bread/breadcrumb.less */
        .pa;
        .rt(10px);
        .flex(y);gap:10px;

        .el-button{margin:0 !important;}
    }
}
.c-breadcrumb.isOverlay {
    /* assets/css/bread/breadcrumb.less */
    background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (max-width: @ipad) {
    /* assets/css/bread/breadcrumb.less */
    .c-breadcrumb {
        /* assets/css/bread/breadcrumb.less */
        padding-left: 40px;

        &.withoutLeft {
            /* assets/css/bread/breadcrumb.less */
            padding-left: 10px;
        }
        .u-menu {
            /* assets/css/bread/breadcrumb.less */
            .db;
        }
        .u-channel-logo {
            /* assets/css/bread/breadcrumb.less */
            .none;
        }
        .u-channel.on {
            /* assets/css/bread/breadcrumb.less */
            .u-channel-logo {
                /* assets/css/bread/breadcrumb.less */
                .db;
            }
        }
        .u-op-public {
            /* assets/css/bread/breadcrumb.less */
            .none;
        }
        .el-tabs {
            /* assets/css/bread/breadcrumb.less */
            right: 0;
        }
        .c-crumb {
            /* assets/css/bread/breadcrumb.less */
            float: none;
            white-space: nowrap;
            overflow: auto;
        }
    }
}
@media print {
    /* assets/css/bread/breadcrumb.less */
    .c-breadcrumb {
        /* assets/css/bread/breadcrumb.less */
        .none;
    }
}

@media screen and (max-width: @phone) {
    /* assets/css/bread/breadcrumb.less */
    .env-app {
        /* assets/css/bread/breadcrumb.less */
        .c-breadcrumb {
            /* assets/css/bread/breadcrumb.less */
            .none;
        }
    }

    .wechat-miniprogram{
        /* assets/css/bread/breadcrumb.less */
        .c-breadcrumb{
            /* assets/css/bread/breadcrumb.less */
            .u-op {
                /* assets/css/bread/breadcrumb.less */
                .none;
            }
        }
    }
}
