.c-crumb {
    /* assets/css/bread/crumb.less */
    font-size: 12px;

    p {
        /* assets/css/bread/crumb.less */
        margin: 0;
    }
    a {
        /* assets/css/bread/crumb.less */
        &:hover {
            /* assets/css/bread/crumb.less */
            box-shadow: 0 1px 0 @color-link;
        }
    }
}
@media screen and (max-width: @phone) {
    /* assets/css/bread/crumb.less */
    .c-crumb {
        /* assets/css/bread/crumb.less */
        .none;
    }
}
