.w-author {
    /* assets/css/module/author.less */
    .w-author-wrapper {
        /* assets/css/module/author.less */
        @max-width: 280px;
        @min-width: 280px;
        max-width: @max-width;
        min-width: @min-width;
        width: 280px;
        padding: 10px;
        background-color: #fff;
        box-sizing: border-box;

        .u-author {
            /* assets/css/module/author.less */
            .clearfix;
            .db;
            .pr;
        }
        .u-avatar {
            /* assets/css/module/author.less */
            .fl;
            .mr(15px);
            .size(68px);
        }
        .u-name {
            /* assets/css/module/author.less */
            .lh(2.2);
            .bold;
            color: @darkblue;
            &:hover {
                /* assets/css/module/author.less */
                color: #f39;
            }
            .nobreak;
        }
        .u-info {
            /* assets/css/module/author.less */
            .pr;
            top: -4px;
            .h(68px);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .u-bio {
            /* assets/css/module/author.less */
            .mb(10px);
            .fz(12px, 2);
            .break(3);
            color: #888;
            padding: 0 5px;
        }
        .u-extend {
            /* assets/css/module/author.less */
            display: flex;
        }
        .u-level {
            /* assets/css/module/author.less */
            padding: 2px 8px;
            .fz(12px, 14px);
            color: #fff;
            background-color: #aaa;
            border-radius: 2px;

            &.lv-1 {
                /* assets/css/module/author.less */
                background-color: #32d3c4;
            }
            &.lv-2 {
                /* assets/css/module/author.less */
                background-color: #86c0fb;
            }
            &.lv-3 {
                /* assets/css/module/author.less */
                background-color: #33d9ff;
            }
            &.lv-4 {
                /* assets/css/module/author.less */
                background-color: #ffdb2a;
            }
            &.lv-5 {
                /* assets/css/module/author.less */
                background-color: #ffa739;
            }
            &.lv-6 {
                /* assets/css/module/author.less */
                background-color: #ff70b2;
            }
            &.lv-7 {
                /* assets/css/module/author.less */
                background-color: #ff3399;
            }
            &.lv-8 {
                /* assets/css/module/author.less */
                background-color: #f93c3c;
            }
        }
        .u-vip {
            /* assets/css/module/author.less */
            .ml(5px);
            .db;
            .i-icon-vip {
                /* assets/css/module/author.less */
                .db;
                vertical-align: baseline;
                padding: 2px 6px;
                .fz(12px, 14px);
                font-style: normal;
                border-radius: 2px;
                background-color: #ddd;
                color: #fff;
                &.on {
                    /* assets/css/module/author.less */
                    background-color: #6f42c1;
                }
            }
        }
        .u-superauthor {
            /* assets/css/module/author.less */
            margin-left: 4px;
            display: inline-block;
            vertical-align: -2px;
            img {
                /* assets/css/module/author.less */
                padding: 0;
                margin: 0;
                width: 16px;
            }
        }
        .u-tips {
            /* assets/css/module/author.less */
            .db;
            color: #555;
            font-size: 12px;
        }
        .u-link {
            /* assets/css/module/author.less */
            border-top: 1px dashed #eee;
            border-bottom: 1px dashed #eee;
            a,
            div {
                /* assets/css/module/author.less */
                .db;
                margin: 10px 5px;
                .fz(12px, 20px);
                color: #555;
            }
            a {
                /* assets/css/module/author.less */
                &:hover {
                    /* assets/css/module/author.less */
                    color: #f39;
                }
            }
            svg,
            img {
                /* assets/css/module/author.less */
                .size(16px);
                .mr(6px);
                .y(-3px);
            }
        }
        .u-medals {
            /* assets/css/module/author.less */
            padding: 0 2px;
            line-height: unset;

            .m-medal {
                /* assets/css/module/author.less */
                .flex;
                line-height: normal;
                flex-wrap: wrap;
            }
        }

        .u-medal {
            /* assets/css/module/author.less */
            background: transparent;
            img {
                /* assets/css/module/author.less */
                padding: 0;
                margin: 0;
                .size(20px);
            }
        }
        .u-label {
            /* assets/css/module/author.less */
            margin: 15px 0 10px 0;
            padding: 0 5px 10px 5px;
            i {
                /* assets/css/module/author.less */
                .mr(5px);
            }
            span {
                /* assets/css/module/author.less */
                .fz(13px);
            }
            border-bottom: 1px solid @border;
        }

        .u-teams {
            /* assets/css/module/author.less */
            .mt(5px);
            .u-team {
                /* assets/css/module/author.less */
                .db;
                background-color: #f2f6fc;
                .mb(6px);
                &:hover {
                    /* assets/css/module/author.less */
                    background-color: #e6f0fb;
                    // color:@color-link;
                }
                .r(3px);
                padding: 0 5px;
                display: flex;
                align-items: center;
            }
            .u-team-logo {
                /* assets/css/module/author.less */
                .size(22px);
                .mr(4px);
                .r(4px);
            }
            .u-team-name {
                /* assets/css/module/author.less */
                .fz(12px);
                color: #555;
            }
        }
    }
}
