.m-simple-item {
    /* assets/css/module/item_simple.less */
    .mb(2px);
    padding: 4px 10px 4px 4px;
    line-height: initial;
    font-size: 13px;
    background-color: #0f2222;
    text-shadow: 1px 1px 1px #000000;
    border-radius: 4px;
    overflow: hidden;

    .m-icon,
    .u-name {
        /* assets/css/module/item_simple.less */
        .dbi;
        vertical-align: middle;
    }

    .m-icon {
        /* assets/css/module/item_simple.less */
        .pr;
        .mr(8px);

        .u-border,
        .u-border-quest {
            /* assets/css/module/item_simple.less */
            .pa;
            top: 0;
            left: 0;
            .w(100%);
            .h(100%);
            box-sizing: border-box;
            background-size: contain;
            .z(20);
        }

        .u-border-quest {
            /* assets/css/module/item_simple.less */
            .z(30);
        }

        .u-icon {
            /* assets/css/module/item_simple.less */
            .pr;
            .db;
            .w(24px);
            .h(auto);
            .z(10);
        }
    }

    .u-uiid {
        /* assets/css/module/item_simple.less */
        .mt(3px);
        font-size: 12px;
        color: lightgreen;
    }
}
