.c-article {
    /* assets/css/module/item.less */
    .e-jx3-item {
        /* assets/css/module/item.less */
        .pointer;
    }
    .e-jx3-item-q0 {
        /* assets/css/module/item.less */
        color: rgb(167, 167, 167);
        box-shadow: 0 1px 0 rgb(167, 167, 167);
        &:hover {
            /* assets/css/module/item.less */
            color: rgb(167, 167, 167, 0.88);
            box-shadow: 0 1px 0 rgba(167, 167, 167, 0.88);
        }
    }
    .e-jx3-item-q1 {
        /* assets/css/module/item.less */
        color: rgb(6, 191, 204);
        box-shadow: 0 1px 0 rgb(6, 191, 204);
        &:hover {
            /* assets/css/module/item.less */
            color: rgba(6, 191, 204, 0.88);
            box-shadow: 0 1px 0 rgba(6, 191, 204, 0.88);
        }
    }
    .e-jx3-item-q2 {
        /* assets/css/module/item.less */
        color: rgb(0, 210, 75);
        box-shadow: 0 1px 0 rgb(0, 210, 75);
        &:hover {
            /* assets/css/module/item.less */
            color: rgba(0, 210, 75, 0.88);
            box-shadow: 0 1px 0 rgba(0, 210, 75, 0.88);
        }
    }
    .e-jx3-item-q3 {
        /* assets/css/module/item.less */
        color: rgb(0, 126, 255);
        box-shadow: 0 1px 0 rgb(0, 126, 255);
        &:hover {
            /* assets/css/module/item.less */
            color: rgba(0, 126, 255, 0.88);
            box-shadow: 0 1px 0 rgba(0, 126, 255, 0.88);
        }
    }
    .e-jx3-item-q4 {
        /* assets/css/module/item.less */
        color: rgb(254, 45, 254);
        box-shadow: 0 1px 0 rgb(254, 45, 254);
        &:hover {
            /* assets/css/module/item.less */
            color: rgba(254, 45, 254, 0.88);
            box-shadow: 0 1px 0 rgba(254, 45, 254, 0.88);
        }
    }
    .e-jx3-item-q5 {
        /* assets/css/module/item.less */
        color: rgb(255, 165, 0);
        box-shadow: 0 1px 0 rgb(255, 165, 0);
        &:hover {
            /* assets/css/module/item.less */
            color: rgba(255, 165, 0, 0.88);
            box-shadow: 0 1px 0 rgba(255, 165, 0, 0.88);
        }
    }
}

.c-item {
    /* assets/css/module/item.less */
    @max-width: 345px;
    @field-padding-right: 0px;

    .pr;
    .dbi;
    padding: 2px;
    font-family: "SimHei", "STHeiti", "Microsoft YaHei";

    &.c-item-equipment {
        /* assets/css/module/item.less */
        width: @max-width;
    }

    &.c-item-furniture {
        /* assets/css/module/item.less */
        min-width: 200px;
    }

    * {
        /* assets/css/module/item.less */
        box-sizing: border-box;
    }

    ul {
        /* assets/css/module/item.less */
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .c-item-wrapper {
        /* assets/css/module/item.less */
        max-width: @max-width;
        padding: 9px 10px 10px;
        background-color: rgba(15, 34, 34, 0.88);
        // background-color: #0f2222;
        color: #ffffff;

        *{
            /* assets/css/module/item.less */
            font-weight: normal;
            font-size: 13.6px;
            line-height: 1.5em;
            text-shadow: 1px 1px 1px #0f2222;
        }

        &:before {
            /* assets/css/module/item.less */
            content: "";
            .pa;
            top: 0;
            left: 0;
            .w(100%);
            .h(100%);
            border: 1px solid #0f2222;
            box-sizing: border-box;
            pointer-events: none;
        }

        .u-title {
            /* assets/css/module/item.less */
            font-weight: normal;
        }

        .u-desc {
            /* assets/css/module/item.less */
            padding-right: @field-padding-right;
        }

        .u-title,
        .u-desc {
            /* assets/css/module/item.less */
            margin: 0;
        }

        .u-orange {
            /* assets/css/module/item.less */
            color: #ffa500;
        }

        .u-yellow {
            /* assets/css/module/item.less */
            color: #ffff00;
        }

        .u-green {
            /* assets/css/module/item.less */
            color: #00d24b;
        }

        .u-white {
            /* assets/css/module/item.less */
            color: #ffffff;
        }

        .u-gray {
            /* assets/css/module/item.less */
            color: #adadad;
        }

        .u-max-strength-level {
            /* assets/css/module/item.less */
            .pr;
            color: #7ee3a3;

            span {
                /* assets/css/module/item.less */
                .pa;
                top: 0;
                right: 0;
            }
        }

        .u-max-exist-time {
            /* assets/css/module/item.less */
            color: #cfcfcf;
        }

        .u-weapon-type-label {
            /* assets/css/module/item.less */
            & + .u-type-label {
                /* assets/css/module/item.less */
                .fr;
                transform: translateY(-100%);
            }
        }

        .u-attributes {
            /* assets/css/module/item.less */
            .pr;
            padding-right: @field-padding-right;

            .u-orange {
                /* assets/css/module/item.less */
                color: #ff9600;
            }

            .u-green {
                /* assets/css/module/item.less */
                color: #00c848;
            }

            .u-speed {
                /* assets/css/module/item.less */
                .pa;
                top: 0;
                right: 0;
            }

            .u-horse-attribute {
                /* assets/css/module/item.less */
                .u-horse-icon {
                    /* assets/css/module/item.less */
                    float: left;
                    .w(22px);
                    .mt(3px);

                    & + .u-horse-desc {
                        /* assets/css/module/item.less */
                        .ml(22px);
                    }
                }
            }
        }

        .u-diamonds {
            /* assets/css/module/item.less */
            margin: 0;
            padding: 0;
            list-style: none;

            .u-diamond {
                /* assets/css/module/item.less */
                .u-square,
                .u-text {
                    /* assets/css/module/item.less */
                    display: inline-block;
                    vertical-align: middle;
                }

                .u-square {
                    /* assets/css/module/item.less */
                    width: 1.1em;
                    height: 1.1em;
                    margin-right: 3px;
                    border: 1px solid #999999;
                }

                .u-text {
                    /* assets/css/module/item.less */
                    margin-top: -1px;
                }
            }
        }

        .u-can-shared {
            /* assets/css/module/item.less */
            color: #4fff6c;
        }

        .u-furniture-can {
            /* assets/css/module/item.less */
            span {
                /* assets/css/module/item.less */
                .pr(10px);
            }
        }
    }
}
