.w-npc {
    /* assets/css/module/npc.less */
    padding: 1px;
    border: 1px solid #0f2222;
    .w-npc-wrapper {
        /* assets/css/module/npc.less */
        @min-width: 200px;
        min-width: @min-width;
        background-color: rgba(15, 34, 34, 0.88);
        box-sizing: border-box;
        display: flex;


        .w-npc-content {
            /* assets/css/module/npc.less */
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            .r(4px);
            .clearfix;
            .fz(13px);
            color: #e7e7e7;
            margin:0;
            padding:5px 15px 10px 15px;
        }

        .u-icon {
            /* assets/css/module/npc.less */
            .fl;
            .mr(10px);
            .r(4px);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        }

        .u-isBoss {
            /* assets/css/module/npc.less */
            .pa;
            .rt(10px, 40px);
            .z(2);
            svg {
                /* assets/css/module/npc.less */
                .size(20px);
                .y(top);
            }
            font-style: normal;
            .lh(20px);
            .bold;
        }

        .u-id {
            /* assets/css/module/npc.less */
            .pa;
            .rt(15px,10px);
            .pointer;
            color: #5df9eb;
        }

        .u-title {
            /* assets/css/module/npc.less */
            min-height: 48px;
            .u-name {
                /* assets/css/module/npc.less */
                .fz(18px);
                color: #ebeef5;
                margin-right: 5px;
                .bold;
                font-weight: 300;
            }
            .u-name-add {
                /* assets/css/module/npc.less */
                .fz(12px);
                color: #aaa;
            }
            .u-level {
                /* assets/css/module/npc.less */
                .fz(12px);
            }
            border-bottom: 1px solid #4a5056;
            padding-bottom: 10px;
        }

        .u-base {
            /* assets/css/module/npc.less */
            .fz(12px, 2);

            span {
                /* assets/css/module/npc.less */
                &:after {
                    /* assets/css/module/npc.less */
                    content: "|";
                    color: #aaa;
                    padding: 0 5px;
                }
                &:last-child {
                    /* assets/css/module/npc.less */
                    &:after {
                        /* assets/css/module/npc.less */
                        .none;
                    }
                }
            }
        }

        .u-primary {
            /* assets/css/module/npc.less */
            margin-top: 10px;
            min-height: 23px;
            em {
                /* assets/css/module/npc.less */
                .none;
            }
            b {
                /* assets/css/module/npc.less */
                padding: 2px 5px;
                .mr(15px);
                .y(top);
                .h(20px);
                .fz(13px);
                font-weight: normal;
                color: #aaa;
            }
            div {
                /* assets/css/module/npc.less */
                .fz(12px, 23px);
                white-space: nowrap;
                overflow-x: auto;
            }

            strong {
                /* assets/css/module/npc.less */
                // color:#0cf;
                .fz(13px);
                color: #eee;
            }

            .u-range {
                /* assets/css/module/npc.less */
                transform: skewX(-15deg);
                background-color: #ddd;
                .r(2px);
                .w(220px);
                .dbi;
                .y(top);
                .h(19px);
                margin: 2px 0;
                .pr;

                strong {
                    /* assets/css/module/npc.less */
                    .h(100%);
                    .db;
                    .pa;
                    .lt(0);
                    font-weight: 400;
                    text-indent: 10px;
                    .r(2px);
                    .fz(12px, 18px);
                    color: #fff;
                    max-width: 300%;
                }
            }
        }

        .u-sitem {
            /* assets/css/module/npc.less */
            color: #aaa;
        }
        .u-shield,
        .u-critical,
        .u-attack {
            /* assets/css/module/npc.less */
            .u-sitem {
                /* assets/css/module/npc.less */
                .mr(20px);
            }
            .u-value {
                /* assets/css/module/npc.less */
                padding: 0 5px;
                .bold;
                .fz(13px);
                color: #eee;
            }
        }

        .u-misc {
            /* assets/css/module/npc.less */
            .u-remark {
                /* assets/css/module/npc.less */
                margin-right: 20px;
                strong {
                    /* assets/css/module/npc.less */
                    color: #f28f02;
                    color: #f00;
                }
            }
        }
        .u-misc-tip {
            /* assets/css/module/npc.less */
            .x;
            background-color: #444;
            .r(2px);
            color: #999;
            padding: 5px 10px;
            a {
                /* assets/css/module/npc.less */
                color: #fff;
                margin: 0 3px;
                box-shadow: 0 1px 0 #fff;
            }
            a:hover {
                /* assets/css/module/npc.less */
                color: #eee;
            }
        }

        .u-descicon {
            /* assets/css/module/npc.less */
            .size(14px);
            .y(-2px);
            .mr(5px);
        }
        .u-descicon-life {
            /* assets/css/module/npc.less */
            fill: #ffacd5;
        }
        .u-descicon-mana {
            /* assets/css/module/npc.less */
            fill: #77e3ff;
        }
        .u-descicon-speed {
            /* assets/css/module/npc.less */
            fill: #c2f703;
        }
        .u-descicon-shield {
            /* assets/css/module/npc.less */
            fill: #49c10f;
        }
        .u-descicon-touch {
            /* assets/css/module/npc.less */
            fill: #f1c309;
        }
        .u-descicon-sense {
            /* assets/css/module/npc.less */
            fill: #c0a3ff;
        }
        .u-descicon-dodge {
            /* assets/css/module/npc.less */
            fill: #49c10f;
        }
        .u-descicon-attack {
            /* assets/css/module/npc.less */
            fill: #fc3c3c;
        }
    }
    .u-primary{
        /* assets/css/module/npc.less */
        .pr;
    }
}
.c-article .e-jx3-npc {
    /* assets/css/module/npc.less */
    text-decoration: underline;
    &:hover {
        /* assets/css/module/npc.less */
        box-shadow: none !important;
    }
}
