.c-article {
    /* assets/css/module/resource.less */
    .e-jx3-resource {
        /* assets/css/module/resource.less */
        display: block;
        *zoom: 1;
        &:after {
            /* assets/css/module/resource.less */
            content: "";
            display: table;
            clear: both;
        }
        border: 1px solid #eee;
        background: #fafafa;
        margin-bottom: 10px;
        padding: 5px 5px 5px 60px;
        min-height: 60px;
        box-sizing: border-box;
        position: relative;
        white-space: normal;

        font-family: -apple-system, "Microsoft YaHei", Trebuchet MS, Calibri, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, sans-serif;
        text-rendering: optimizelegibility;

        .u-pic {
            /* assets/css/module/resource.less */
            border: none;
            outline: none !important;
            padding: 0;
            margin: 0;

            display: block;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 48px;
            height: 48px;
            border-radius: 6px;
            box-shadow: 0 0 1px inset rgba(0, 0, 0, 0.2);
        }
        .u-name {
            /* assets/css/module/resource.less */
            font-size: 14px;
            line-height: 2;
            font-weight: bold;
            display: block;
            em {
                /* assets/css/module/resource.less */
                font-style: normal;
                font-weight: normal;
                color: #999;
                .fz(12px);
            }
        }
        .u-desc,
        .u-content {
            /* assets/css/module/resource.less */
            font-size: 12px;
            display: block;
            white-space: pre-wrap;
        }
        .u-id {
            /* assets/css/module/resource.less */
            font-size: 10px;
            color: #555;
            position: absolute;
            right: 5px;
            top: 5px;
            .x(right);
        }

        .u-detach {
            /* assets/css/module/resource.less */
            .mt(4px);
            .db;
        }
        .u-remark {
            /* assets/css/module/resource.less */
            display: none;
        }
        .u-primary {
            /* assets/css/module/resource.less */
            .db;
        }
    }
}
@media print {
    /* assets/css/module/resource.less */
    .e-jx3-resource {
        /* assets/css/module/resource.less */
        page-break-inside: avoid !important;
    }
}
