.c-author {
    /* assets/css/single/author.less */
    .u-tips {
        /* assets/css/single/author.less */
        .db;
        color: #555;
        font-size: 12px;
    }

    .u-label {
        /* assets/css/single/author.less */
        padding: 10px 0;
        .flex;
        align-items: center;
        i,
        svg {
            /* assets/css/single/author.less */
            .size(16px);
            .mr(5px);
        }
        span {
            /* assets/css/single/author.less */
            .fz(12px);
            .bold;
        }
        // border-bottom: 1px solid @border;
    }
    .u-more {
        /* assets/css/single/author.less */
        fill: #aaa;
    }

    @keyframes living-icon-ani {
        /* assets/css/single/author.less */
        0% {
            /* assets/css/single/author.less */
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
        50% {
            /* assets/css/single/author.less */
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
        to {
            /* assets/css/single/author.less */
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }

    .u-tv-living {
        /* assets/css/single/author.less */
        .dbi;
        .ml(10px);
    }

    .u-tv-living-icon {
        /* assets/css/single/author.less */
        .h(10px);
    }

    .u-tv-living-icon-col {
        /* assets/css/single/author.less */
        .dbi;
        transform-origin: bottom;
        width: 2px;
        height: 100%;
        margin: 0 1px;
        background-color: #fb7299;
        border-radius: 2px;
        animation: living-icon-ani 0.6s linear infinite;
    }
    .u-tv-living-icon-col.first {
        /* assets/css/single/author.less */
        animation-delay: -0.2s;
    }
    .u-tv-living-icon-col.last {
        /* assets/css/single/author.less */
        animation-delay: 0.2s;
    }

    .u-interact {
        /* assets/css/single/author.less */
        .mt(5px);
        display: flex;
        align-items: center;
    }
    .u-links {
        /* assets/css/single/author.less */
        .mt(15px);
    }
    .u-block {
        /* assets/css/single/author.less */
        .mt(20px);
    }

    .u-btn {
        /* assets/css/single/author.less */
        &:hover {
            /* assets/css/single/author.less */
            color: @primary;
        }
    }
}

.c-sidebar-left .c-author {
    /* assets/css/single/author.less */
    margin: 10px;
}

.c-sidebar-right .c-author {
    /* assets/css/single/author.less */
    margin: 15px;
}
