.m-single-box {
    /* assets/css/single/cms-single.less */
    // padding: 0 30px;
    .el-divider__text {
        /* assets/css/single/cms-single.less */
        color: #888;
        font-weight: 300;
    }
    .pr;
}
@media screen and (max-width: @phone) {
    /* assets/css/single/cms-single.less */
    .m-single-box {
        --el-color-primary: @primary;
        /* assets/css/single/cms-single.less */
        padding: 0 15px;
    }
}

.m-single-prepend {
    /* assets/css/single/cms-single.less */
    .pr;
}

.m-single-collection,
.m-single-creators {
    /* assets/css/single/cms-single.less */
    .mb(10px);
}

.m-single-post {
    /* assets/css/single/cms-single.less */
    .mb(10px);
    .pr;
    .el-divider {
        /* assets/css/single/cms-single.less */
        margin: 10px auto 20px auto;
    }
    overflow: hidden;
}

.m-single-content {
    /* assets/css/single/cms-single.less */
    height: auto !important;
}
@media print {
    /* assets/css/single/cms-single.less */
    .m-single-content {
        /* assets/css/single/cms-single.less */
        table {
            /* assets/css/single/cms-single.less */
            width: 100% !important;
        }
    }
}
@media print {
    /* assets/css/single/cms-single.less */
    .m-single-comment {
        /* assets/css/single/cms-single.less */
        .none;
    }
}

.m-single-null {
    /* assets/css/single/cms-single.less */
    padding: 20px 0;
}

.m-single-thx {
    /* assets/css/single/cms-single.less */
    .mt(40px);
}
