.w-thx {
    /* assets/css/single/thx.less */
    // .w-like2,
    // .w-fav2,
    // .w-boxcoin-user,
    // .w-share2,
    // .w-rss,
    // .w-boxcoin-admin {
    //     /* assets/css/single/thx.less */
    //     .mr(20px);
    // }
    .x;

    .u-record-icon {
        /* assets/css/single/thx.less */
        .size(26px);
        // .y;
        .pr;
        top: 4px;
        .pointer;
    }
}
.w-thx-panel {
    /* assets/css/single/thx.less */
    .mb(20px);
    .flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}
.w-thx-copyright {
    /* assets/css/single/thx.less */
    .fz(12px,2);
    color: #888;
    border: 1px dashed #eee;
    max-width: 800px;
    .auto(x);
    padding: 10px;
    .mt(20px);
    background-color: @bg-light;
}

.w-boxcoin-block {
    /* assets/css/single/thx.less */
    .pointer;

    &.disabled{
        /* assets/css/single/thx.less */
        opacity:0.5;
        cursor:not-allowed;
    }
}
.w-boxcoin-admin {
    /* assets/css/single/thx.less */
    .x(left);
    .dbi;
    .u-icon {
        /* assets/css/single/thx.less */
        .size(26px);
        .y;
        .pr;
    }
}
.w-boxcoin-pop {
    /* assets/css/single/thx.less */
    width: 800px;
    max-width: 100%;

    .el-dialog__body {
        /* assets/css/single/thx.less */
        //padding: 10px 20px;

        .fz(14px,2);

        .u-left {
            /* assets/css/single/thx.less */
            .fz(14px,24px);
            .u-label {
                /* assets/css/single/thx.less */
                .mr(10px);
            }
            b {
                /* assets/css/single/thx.less */
                // color:#49c10f;
                // color:@color-link;
                color: #fba524;
                .fz(20px,1);
                .dbi;
                .y;
                vertical-align: text-bottom;
                .mr(10px);
            }
            .el-progress {
                /* assets/css/single/thx.less */
                margin: 10px;
            }
        }
        .u-list {
            /* assets/css/single/thx.less */
            .mt(10px);
        }
        .u-points {
            /* assets/css/single/thx.less */
            padding: 10px;
            .el-radio {
                /* assets/css/single/thx.less */
                .ml(0) !important;
                .mb(10px);
                .w(140px);
                b {
                    /* assets/css/single/thx.less */
                    color: #e81224;
                    .mr(5px);
                }
            }
            .el-input-number {
                /* assets/css/single/thx.less */
                .ml(0) !important;
                .mb(10px);
                .w(140px);
            }
        }

        .u-label {
            /* assets/css/single/thx.less */
            font-style: normal;
            background-color: @bg-gray;
            padding: 5px 10px;
        }
        .u-input {
            /* assets/css/single/thx.less */
            padding: 10px 0 10px 10px;
        }

        .el-button {
            /* assets/css/single/thx.less */
            padding: 10px;
            margin: 10px 0 0 0;
        }
    }
}
@media screen and (max-width: @phone) {
    /* assets/css/single/thx.less */
    .w-boxcoin-pop {
        /* assets/css/single/thx.less */
        margin-top: 0 !important;
        .w(100%) !important;
    }
}

.w-boxcoin-records-list {

    --el-color-primary: @primary;

    /* assets/css/single/thx.less */
    max-width: 960px;
    border: 1px solid #eee;
    margin: 0 auto;

    .u-list {
        /* assets/css/single/thx.less */
        list-style: none;
        .x(left);
        margin: 0 auto;
        padding: 0;
    }
    .u-item {
        /* assets/css/single/thx.less */
        border-bottom: 1px dashed #eee;
        .fz(13px,2.5);
        .clearfix;
        padding: 4px 10px;
        &:last-child {
            /* assets/css/single/thx.less */
            border: none;
        }
        display: flex;
        white-space: nowrap;

        a {
            color: var(--el-color-primary);
        }
    }
    .u-meta {
        /* assets/css/single/thx.less */
        .db;
        .fl;
    }
    .u-action {
        /* assets/css/single/thx.less */
        .w(40px);
        .db;
        padding-right: 10px;
        .flex;
        align-items: center;
        justify-content: center;
        svg {
            /* assets/css/single/thx.less */
            .size(24px);
            .db;
            .auto(x);
        }
        .x;
    }
    .u-user {
        /* assets/css/single/thx.less */
        .w(120px);
        .nobreak;
        .flex;
        align-items: center;
        &:hover {
            /* assets/css/single/thx.less */
            text-decoration: underline;
        }
        .mr(20px);
    }
    .u-default {
        &:hover{
            text-decoration: none;
        }
    }
    .u-user-avatar {
        /* assets/css/single/thx.less */
        .y;
        .size(24px);
        .mr(5px);
        .r(2px);
    }
    .u-count {
        /* assets/css/single/thx.less */
        .w(120px);
    }
    .u-head {
        /* assets/css/single/thx.less */
        background-color: @bg-light;
    }
    .u-body {
        /* assets/css/single/thx.less */
        .u-count {
            /* assets/css/single/thx.less */
            color: #fe7e91;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        }
    }
    .u-remark {
        /* assets/css/single/thx.less */
        .nobreak;
        .w(280px);
        color:@color;
    }
    .u-time {
        /* assets/css/single/thx.less */
        color: #999;
    }
    .u-delete {
        /* assets/css/single/thx.less */
        .ml(20px);
        color: #c00;
        i {
            /* assets/css/single/thx.less */
            .mr(3px);
        }
        .pointer;
        &:hover {
            /* assets/css/single/thx.less */
            color: #f00;
        }
    }
    .u-client {
        /* assets/css/single/thx.less */
        margin-left: 5px;
        color: #09f;
    }

}
.w-boxcoin-records-pages {
    justify-content: center;
    padding-top: 2px;
}

@media screen and (max-width: @phone) {
    /* assets/css/single/thx.less */
    .w-boxcoin-records-list {
        /* assets/css/single/thx.less */
        overflow-x: auto;
        .u-list {
            /* assets/css/single/thx.less */
            .w(100%);
        }
        .u-user {
            /* assets/css/single/thx.less */
            .w(100px);
        }
        .u-count {
            /* assets/css/single/thx.less */
            .w(80px);
        }
        .u-time,
        .u-remark {
            /* assets/css/single/thx.less */
            .none;
        }
    }
}
