.w-filter-client {
    /* assets/css/filters/client-by.less */
    font-size: 0;
    ul,
    li {
        /* assets/css/filters/client-by.less */
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul {
        /* assets/css/filters/client-by.less */
        .clearfix;
        .dbi;
        background-color: @bg-gray;
        border: 1px solid #eee;
        .r(3px);
        overflow: hidden;
    }
    li {
        /* assets/css/filters/client-by.less */
        padding: 5px 10px;
        .fl;
        .fz(12px);
        border-right: 1px solid #eee;
        &:last-child {
            /* assets/css/filters/client-by.less */
            border-right: none;
        }
        .pointer;

        &.on {
            /* assets/css/filters/client-by.less */
            background-color: @color-link;
            color: #fff;
            border-color: darken(@color-link, 5%);
        }
    }
}
