.c-jx3box-reply {
    /* assets/css/comment/quick-reply.less */
    .u-reference {
        /* assets/css/comment/quick-reply.less */
        cursor: pointer;
        position: relative;
        margin-left: 10px;
    }
}
.c-jx3box-reply-pop {
    /* assets/css/comment/quick-reply.less */
    padding: 0;
    width: 280px;
}

.c-jx3box-reply-pop__content {
    /* assets/css/comment/quick-reply.less */
    position: relative;

    .u-title {
        /* assets/css/comment/quick-reply.less */
        font-size: 14px;
        padding: 10px;
    }
    .u-close {
        /* assets/css/comment/quick-reply.less */
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 16px;
    }

    .m-reply-list {
        /* assets/css/comment/quick-reply.less */
        padding: 0 10px 10px 10px;
        max-height: 300px;
        overflow-y: auto;
    }
    .m-reply-list__item {
        /* assets/css/comment/quick-reply.less */
        cursor: pointer;
        padding: 5px;
        border: 1px solid #eee;
        border-radius: 4px;
        margin-bottom: 5px;
        .u-name {
            /* assets/css/comment/quick-reply.less */
            font-size: 12px;
            color: #999;
        }
        .u-content {
            /* assets/css/comment/quick-reply.less */
            font-size: 14px;
            margin-top: 5px;
        }

        &:hover {
            /* assets/css/comment/quick-reply.less */
            color: #fff;
            background-color: #409eff;
            border-color: #409eff;
            transition: all 0.3s;
        }
    }
}
