.w-like2 {
    /* assets/css/interact/like2.less */
    .pointer;
    .dbi;
    .u-icon {
        /* assets/css/interact/like2.less */
        .size(26px);
        .y;
        .pr;
    }
    .u-count {
        /* assets/css/interact/like2.less */
        color: #888;
        .ml(10px);
    }

    &.disabled {
        /* assets/css/interact/like2.less */
        .tm(0.5);
        cursor: default;
    }

    .w-like2__trigger {
        .flex;
        align-items: center;
    }
}
