@gray: #888;
@space: 20px;
@pink: #f39;

.m-bottom {
    /* assets/css/common/bottom.less */
    font-size: 12px;
    color: @gray;
    margin-top: @space;
    font-family: verdana, "Trebuchet MS", Tahoma;

    a {
        /* assets/css/common/bottom.less */
        color: @gray;
        &:hover {
            /* assets/css/common/bottom.less */
            color: @pink;
        }
    }

    .u-feedback {
        /* assets/css/common/bottom.less */
        float: right;
    }
}
