.c-sidebar-right-msg {
    @aiconh: 22px;

    border: 1px solid @primary;
    margin: 15px 15px 5px 15px;
    padding: 10px 10px 10px 30px;
    .r(6px);
    .pr;
    .flex;
    align-items: center;

    .u-icon {
        .db;
        .size(16px);
        svg {
            .size(16px);
            fill: @primary;
        }
        .pa;
        .lt(10px, 50%);
        transform: translateY(-50%);
    }

    .u-msg {
        .fz(12px, @aiconh);
    }
}
