.c-sidebar-right {
    /* assets/css/common/right-sidebar.less */
    // .pa;.lt(100%,0);
    .pf;
    .rt(0,@header-height + @bread-height);
    .z(400);
    bottom: 0;
    .w(@aside-right);
    background-color: #fff;
    border-left: 1px solid #eee;
    // height:100%;
    box-sizing: border-box;

    &.show-toggle {
        /* assets/css/common/right-sidebar.less */
        background-color: @bg-light;
    }
}

.c-sidebar-right-title {
    /* assets/css/common/right-sidebar.less */
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ebeef5;

    .u-icon {
        /* assets/css/common/right-sidebar.less */
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}

.c-sidebar-right-list {
    /* assets/css/common/right-sidebar.less */
    .u-item {
        /* assets/css/common/right-sidebar.less */
        .db;
        height: 48px;
        line-height: 48px;
        background-color: #fff;
        color: #303133;
        cursor: pointer;
        border-bottom: 1px solid #ebeef5;
        font-size: 13px;
        font-weight: 500;
        transition: border-bottom-color 0.3s;
        outline: none;
        .pr;

        &:hover {
            /* assets/css/common/right-sidebar.less */
            color: @primary;
        }

        &:after {
            /* assets/css/common/right-sidebar.less */
            content: "\e6e0";
            .pa;
            .rt(0,50%);
            transform: translateY(-50%);
            font-family: element-icons !important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            vertical-align: baseline;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
        }
    }
}

// 笔记本<1440 缩小双边栏
// @media screen and (max-width:@notebook){
//     .c-sidebar-right{
//         .w(@aside-right - 20px);
//     }
// }

// // 平板横屏
@media screen and (max-width: @smallpc) {
    /* assets/css/common/right-sidebar.less */
    .c-sidebar-right {
        /* assets/css/common/right-sidebar.less */
        .pr;
        width: 100%;
        top: 0;
        &.show-toggle {
            /* assets/css/common/right-sidebar.less */
            background-color: #fff;
            .pf;
            .rt(0,@header-height + @bread-height);
            .z(400);
            bottom: 0;
            .w(@aside-right);
        }
    }
}

.c-sidebar-right-inner {
    /* assets/css/common/right-sidebar.less */
    .size(100%);
    overflow-y: auto;

    &::-webkit-scrollbar {
        /* assets/css/common/right-sidebar.less */
        width: 4px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece {
        /* assets/css/common/right-sidebar.less */
        background-color: #fafafa;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        /* assets/css/common/right-sidebar.less */
        background-color: #eee;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        /* assets/css/common/right-sidebar.less */
        display: none;
    }
}
// 折叠相关逻辑
.c-sidebar-right-toggle {
    /* assets/css/common/right-sidebar.less */
    display: block;
    .pa;
    .lb(-21px, calc(50% - 20px));
    width: 20px;
    height: 40px;
    line-height: 40px;
    .pointer;
    text-align: center;
    background-color: @bg-light;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius: 0px 2px 2px 0px;
    font-size: 16px;
    color: #999;

    &:hover {
        /* assets/css/common/right-sidebar.less */
        color: #222;
    }

    &.close-sidebar-right {
        /* assets/css/common/right-sidebar.less */
        left: 0;
    }

    svg {
        /* assets/css/common/right-sidebar.less */
        fill: @color;
    }
}

.closeLeftSidebar() {
    /* assets/css/common/right-sidebar.less */
    transition: 0.2s ease-in-out;
    transform: translateX(100%);
}

.openLeftSidebar() {
    /* assets/css/common/right-sidebar.less */
    transition: 0.2s ease-in-out;
    transform: translateX(0);
}

.c-sidebar-right.is-close {
    /* assets/css/common/right-sidebar.less */
    .closeLeftSidebar();

    .c-sidebar-right-toggle {
        /* assets/css/common/right-sidebar.less */
        transition: 0.2s ease-in-out;
        transform: translateX(-100%);
    }
}

.c-sidebar-right.is-open {
    /* assets/css/common/right-sidebar.less */
    .openLeftSidebar();

    .c-sidebar-right-toggle {
        /* assets/css/common/right-sidebar.less */
        transition: 0.2s ease-in-out;
        transform: translateX(0);
    }
}

@media screen and (max-width: @ipad) {
    /* assets/css/common/right-sidebar.less */
    .c-sidebar-right-toggle {
        /* assets/css/common/right-sidebar.less */
        // .none;
    }

    .c-sidebar-right.isopen {
        /* assets/css/common/right-sidebar.less */
        box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1);
    }
}

@media print {
    /* assets/css/common/right-sidebar.less */
    .c-sidebar-right {
        /* assets/css/common/right-sidebar.less */
        .none;
    }
}
